<div class="hold-transition login-page">
    <div class="login-box animate__animated animate__backInLeft">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-template">
                                <h1>
                                    Oops!</h1>
                                <h2>
                                    Not Access</h2>
                                <div class="error-details">
                                    Sorry, an error has occured, Please try again!
                                </div>
                                <div class="error-actions">
                                    <a (click)="redirectToLogin()" class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-home"></span>Take Me to Login </a>
                                        <a class="btn btn-default btn-lg">
                                       <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="social-auth-links text-center mb-3 " id="my-signin2">

                </div>
                <!-- <div class="social-auth-links text-center">
                    <hr>
                    <a href="#" class="btn btn-block btn-outline-secondary">
                      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                  </div> -->

                <!-- <p class="mb-1">
                    <a href="forgot-password.html" class="link-pass"> forgot my password</a>
                </p> -->
                
                <!-- <p class="mb-0">
                    <a routerLink="/register" class="text-center link-reg cursor">Register a new membership</a>
                </p> -->
            </div>
        </div>
    </div>
</div>


