<app-spinner [animationEvent]="'ball-clip-rotate-multiple'"></app-spinner>
<div class="box-body table-responsive no-padding">
    <div class="container giveSpace">
        <div class="row">
            <div class="col-md-12" *ngIf="dataSource?.length>0">
                <dx-data-grid id="gridContainer" class="gridStyle" [keyExpr]="keyGrid" [dataSource]="dataSource"
                    [columns]="columns" [focusedRowEnabled]="true" [autoNavigateToFocusedRow]="true"
                    [repaintChangesOnly]="true" [showBorders]="true" [columnAutoWidth]="true"
                    [columnHidingEnabled]="true" [showBorders]="true" [sorting]="{ mode: 'single' }"
                    [focusedRowEnabled]="true" [showColumnLines]="false" [rowAlternationEnabled]="true"
                    [showBorders]="false" [showRowLines]="true" (onContentReady)="applyDefaultGrouping($event)"
                    (onFocusedRowChanged)="onFocusedRowChanged($event)">
                    <dxo-filter-row visible="true"></dxo-filter-row>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-header-filter visible="true"></dxo-header-filter>
                    <dxo-group-panel [visible]="true"
                        emptyPanelText="Arrastra la columna para agrupar"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

                    <dxo-toolbar>
                        <dxi-item name="groupPanel"></dxi-item>
                        <dxi-item location="after">
                            <dx-button [visible]="false" icon="pdffile" hint="Exportar PDF" text="PDF">
                            </dx-button>
                        </dxi-item>
                        <dxi-item location="after">
                            <dx-button [visible]="true" icon="xlsxfile" text="Excel" (onClick)="onExportingXLS()">
                            </dx-button>
                        </dxi-item>
                        <dxi-item name="searchPanel"></dxi-item>
                    </dxo-toolbar>

                    <!-- <dxi-column *ngFor="let column of columns" [dataField]="column.dataField" [caption]="column.caption"></dxi-column> -->

                    <!-- <dxi-column caption="Actions">
                    <ng-template dxTemplate="cellTemplate">
                      <button (click)="onButtonClick($event)">Editar</button>
                      <button (click)="onButtonClick($event)">Eliminar</button>
                    </ng-template>
                </dxi-column> -->
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="50"> </dxo-paging>
                    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
                        [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
                        [showNavigationButtons]="showNavButtons">
                    </dxo-pager>

                    <dxo-summary>
                        <dxi-group-item column="codigoProducto" summaryType="count"
                            displayFormat="{0}"></dxi-group-item>
                    </dxo-summary>
                    <dxi-total-item column="loteMarcado" summaryType="count" displayFormat="{0}" alignment="right">
                    </dxi-total-item>
                </dx-data-grid>
            </div>
        </div>

    </div>
</div>